body {
    background-color: ghostwhite;
    display: flex;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

table {
    border-spacing: 3vw;
}

td {
    height: 8vw; /* 100px; */
    width: 10vw /* 200px; */    
}

.container {
   background-color: ghostwhite;
   padding: 30px;
   margin: auto;
}

.titoli   {
   color: blue; 
   font-size: 4vw; /*200%;*/
}

.errori {
   color: red;
   font-size: 200%;
}

.edituser {
   color: black;
   font-size: 5vw; /* 200%;*/
   width: 50vw;
}

.editpws {
    color: black;
    font-size: 5vw; /*200%;*/
    width: 50vw;
}

.bottoni {
   color: blue;
   width: 30vw;
   height: 9vw;
   font-size: 6vw; /* 200%; */
}

.cancelbtn {
    color: red;
    width: 30vw;
    height: 9vw;
    font-size: 6vw; /* 200%;*/
}
