body {
    background-color: ghostwhite;
    /*display: flex;*/
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

div {
    background-color: ghostwhite;
}

.Intestazioni {
    height: 10%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 200%;
    text-align: center;
}

.Contenuti {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    overflow: auto;
}

.MenuComandi {
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 200%;
    text-align: center;
}


td {
    
    width: 150px;
    height: 100px;
    
    /*
    width: 20%;
    height: 30%;
    */
    min-width: 5px;
    min-height: 5px;
    max-width: 500px;
    max-height: 500px;
    color: #000;
    font-size: 2vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
    background-color: #6af;
}


table {
    width: 90%;
    border-spacing: 10px;
    border-collapse: separate;
}

a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    align-content: space-evenly;
    text-decoration: none;
}

.gennaio {
    // background-color: #b97;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.febbraio {
    // background-color: #b87;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.marzo {
    // background-color: #b77;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.aprile {
    // background-color: #b67;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.maggio {
    // background-color: #959;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.giugno {
    // background-color: #949;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.luglio {
    // background-color: #969;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.agosto {
    // background-color: #9fb;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.settembre {
    // background-color: #afb;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.ottobre {
    // background-color: #adb;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.novembre {
    // background-color: #acb;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

.dicembre {
    // background-color: #abd;
    background-color: #afb;
    /*
    width: 250px;
    height: 100px;
    */
    color: #000;
    font-size: 3vw; /*200%;*/
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}

/* spin box  */


input[type=number] {
  height: 8vw; /*50px;*/
  line-height: 50px;
  font-size: 8vw; /*36px;*/
  padding: 0 0px;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
        /*
        width: 64px;
        height: 64px;
        */
        padding: 4px;
    }

/* bottone cambia anno*/
.bottone {
    width: 25vw;
    height: 8vw;
    font-size: 3vw; /*36px;*/
    top: 0;
}

/*
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 28px;
  color: #333;
  text-align: center;
  position: relative;
}

input[type=number]:hover::-webkit-inner-spin-button {
  background: #eee url('http://localhost:43143/images/frecciespin.png') no-repeat 50% 50%;
  width: 44px;
  height: 44px;
  padding: 4px;
  position: relative;
  right: 4px;
  border-radius: 28px;
}
*/