html * {
    font-family: Arial !important;
}

body {
    background-color: #e8f6fd;
    display: flex;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

.Intestazioni {
    height: 1vw; /* 10%;*/
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2vw;
    text-align: center;
}

.Intesta {
    width: 90%;
}

.Contenuti {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 10vw; /* 20%;*/
    left: 0;
    right: 0;
    overflow: auto;
}

.MenuComandi {
    height: 8vw; /* 10%;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2vw;
    text-align: center;
    opacity: 1;
    background-color: #fff;
}

.MenuComandi a {
    font-size: 2vw;
}

table {
    width: 60%;
    font-size: 100%;
}

td {
    width: 100%;
}

input[type=submit] {
    width: 250px;
    height: 100px;
    font-size: 200%;
}

.bottone {
    background-color: #f3e7d9;
    border: 2px solid #f3e7d9;
    border-radius: 100px;
}

.home {
    background-color: #f08232;
    border: 2px solid #f08232;
    border-radius: 100px;
    text-decoration: none;
    font-size: 2vw;
}